README.md
LICENSE
.venv/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

data/
src/data/
src/save/
src/saved_models/
src/logs/
src/outputs/
src/temp/
src/tmp*/
src/home/
assets/
image/

*.pt
*.pth
*.pkl
*.zip
*.tar.gz
*.log
*.th
*.npz
*.npy
*.png

Smoothness Analysis/dataset/

.DS_Store
*.swp
*.swo
*~
