LICENSE
.venv/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

data/*
src/data/*
src/save/*
src/saved_models/*
src/logs/*
src/outputs/*
src/temp/*
src/tmp*/
src/home/*
assets/*
!data/.gitkeep
!src/data/.gitkeep
!src/save/.gitkeep
!src/saved_models/.gitkeep
!src/logs/.gitkeep
!src/outputs/.gitkeep
!src/temp/.gitkeep
!assets/.gitkeep

*.pt
*.pth
*.pkl
*.zip
*.tar.gz
*.log
*.th

Smoothness Analysis/dataset/

.DS_Store
*.swp
*.swo
*~
