# Datasets
data/

# Trained models & checkpoints
save/
saved_models/

# Logs
logs/
*.log

# Images
*.png

# Outputs
outputs/

# Temp & cache
temp/
tmp*/
__pycache__/

# Trigger data files
trigger/

# Home directory backup
home/
